Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  google-*,
  clang-analyzer-*,
  misc-*,
  portability-*,
  llvm-*,
  -llvm-header-guard,
WarningsAsErrors: ''  # Changed from '*' to '' to disable treating warnings as errors
HeaderFilterRegex: '.*'
FormatStyle: file